@page "/districts/{action}/{paramDistrictID}"
@page "/districts/{action}"

@inherits DistrictsDataModel
<h1>@title</h1>


@if (Messages != "")
{
<div id="outPopUp" style="position: absolute;  width: 312px;  height: 252px;  z-index: 15;  top: 50%;  left: 50%;  margin: -100px 0 0 -150px;  background: #f6cd2f;">
    <div id="outPopUp" style="position: absolute;  width: 300px;  height: 248px;    background: #360849;">
        <img src="Images/C2.png" onclick="@closeMessage()" />
        <span style="color:#ECF3F4;font-size:xx-large;display: inline-block;    margin: 10px 10px 0 0;   padding: 5px 10px ">
            @Messages
        </span>
    </div>

</div>
}


<img src="~/Images/blank.gif" alt="" width="1" height="10" />
<table width="99%" style=" border-bottom:3px solid #3273d5;">
    <tr>
        <td class="style1" align="center">
            <h3>Shanu ASP.NET Core Blazor Master/Detail  CRUD using WEB API & EF :)</h3>
            <h3>Master/Detail HTML Grid with Filter, Sorting and Detail Grid Grand Total Row</h3>
        </td>

    </tr>
</table>
<img src="~/Images/blank.gif" alt="" width="1" height="2" />

<table width="100%" style="background:#05163D;color:honeydew">
    <tr>
        <td width="20">&nbsp;</td>
        <td>
            <h2> Add New Districts Information</h2>
        </td>
        <td>&nbsp;</td>
        <td align="right">
            <button class="btn btn-info" onclick="@AddNewDistricts">Add New District</button>
        </td>
        <td width="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
</table>

@if (showAddMaster == true)
{
<table style=" background-color:#FFFFFF; border: dashed 3px #6D7B8D; padding: 5px;width: 99%;table-layout:fixed;" cellpadding="2" cellspacing="2">
    <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">
        <td>
            <h3> Add/Edit Districts</h3>
        </td>

    </tr>
    <tr>
        <td>
            <table class="form-group">
                <tr>
                    <td>
                        <label for="DistrictId" class="control-label">District Id</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" bind="@dstM.DistrictId" readonly />
                    </td>
                    <td width="20">&nbsp;</td>
                    <td>
                        <label for="Name" class="control-label">District Name</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" bind="@dstM.DistrictName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="State" class="control-label">State Id</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" bind="@dstM.StateId" />
                    </td>
                    <td width="20">&nbsp;</td>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-success" onclick="@(async () => await SaveDistricts())" style="width:220px;">Save</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
}

@if (showAddDetail == true)
{
<table style=" background-color:#FFFFFF; border: dashed 3px #6D7B8D; padding: 5px;width: 99%;table-layout:fixed;" cellpadding="2" cellspacing="2">
    <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">
        <td>
            <h3> Add/Edit Sub Districts</h3>
        </td>

    </tr>
    <tr>
        <td>
            <table class="form-group">
                <tr>
                    <td>
                        <label for="SubDistrictsId" class="control-label">SubDistricts No</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" bind="@subdstD.SubDistrictsId" readonly />
                    </td>
                    <td width="20">&nbsp;</td>
                    <td>
                        <label for="DistrictId" class="control-label">District</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" bind="@subdstD.DistrictId" readonly />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="SubDistrictsName" class="control-label">SubDistricts Name</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" bind="@subdstD.SubDistrictsName" />
                    </td>
                    <td width="20">&nbsp;</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="4" align="center">
                        <button type="submit" class="btn btn-success" onclick="@(async () => await SaveSubDistricts())" style="width:220px;">Save</button>
                    </td>
                    <td colspan="2"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
}

<img src="~/Images/blank.gif" alt="" width="1" height="2" />
<hr />
@if (districtsList == null)
{
<p><em>Loading...</em></p>
}
else
{

<table style=" background-color:#FFFFFF; border: solid 2px #6D7B8D; padding: 5px;width: 99%;table-layout:fixed;" cellpadding="2" cellspacing="2">

    <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">
        <td width="120"></td>
        <td width="40" align="center"><b>Edit</b></td>
        <td width="40" align="center"><b>Delete</b></td>
        <td width="120" align="center" style="cursor: pointer;">
            <b>District Id</b> &nbsp;
            <img src="@ImageSortname" onclick="@(async () => await StudentSorting("DistrictId"))" height="24" width="24" />

        </td>
        <td width="240" align="center" style="cursor: pointer;">
            <b>District Name</b> &nbsp;
            <img src="@ImageSortname" onclick="@(async () => await StudentSorting("DistrictName"))" height="24" width="24" />

        </td>
        <td width="240" align="center" style="cursor: pointer;">
            <b>SubDistrictsId</b> &nbsp;
            <img src="@ImageSortname" onclick="@(async () => await StudentSorting("SubDistrictsId"))" height="24" width="24" />

        </td>
        <td width="340" align="center" style="cursor: pointer;">
            <b> Sub Districts Name</b> &nbsp;
            <img src="@ImageSortname" onclick="@(async () => await StudentSorting("SubDistrictsName"))" height="24" width="24" />

        </td>
    </tr>
    <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;">
        <td width="140" align="center" colspan="4">
            <img src="Images/filter.png" width="24" height="24" /> Filter By
        </td>
        <td width="180" align="center" style="border: solid 1px #FFFFFF; padding: 5px;table-layout:fixed;">
            <input width="70" onchange=@OnDistrictNameChanged oninput="(this.dispatchEvent(new CustomEvent('change', {bubbles: true})))" />
        </td>
        <td width="180" align="center" style="border: solid 1px #FFFFFF; padding: 5px;table-layout:fixed;">
            <input width="70" onchange=@OnSubDistrictNameChanged oninput="(this.dispatchEvent(new CustomEvent('change', {bubbles: true})))" />
        </td>
        <td width="180" align="center" style="border: solid 1px #FFFFFF; padding: 5px;table-layout:fixed;"></td>
        <td width="180" align="center" style="border: solid 1px #FFFFFF; padding: 5px;table-layout:fixed;"></td>
    </tr>
    @foreach (var Districtsobj in districtsList)
        {
    <tr style="border-style:dashed;border-width:2px;border-color: @(Districtsobj.DistrictId == districtsIDs ? "#ff6a00": "#a2aabe")">
        <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">

            @if (@Districtsobj.DistrictId == districtsIDs)
                    {
            <img src="@Imagename" onclick="@(async () => await getSubDistricts(@Districtsobj.DistrictId))" />
                    }
                    else
                    {
            <img src="Images/toggle.png" onclick="@(async () => await getSubDistricts(@Districtsobj.DistrictId))" />

                    }

        </td>
        <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
            <span style="color:#9F000F">
                <img src="Images/edit.gif" alt="Edit" width="24px" height="24px" onclick="@(async () => await EditDistricts(@Districtsobj.DistrictId))" />
            </span>
        </td>
        <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
            <span style="color:#9F000F">
                <img src="Images/delete.gif" alt="Delete" width="24px" height="24px" onclick="@(async () => await DeleteDistricts(@Districtsobj.DistrictId))" />
            </span>
        </td>
        <td align="left" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
            <span style="color:#9F000F">
                @Districtsobj.DistrictId
            </span>
        </td>
        <td align="left" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
            <span style="color:#9F000F">
                @Districtsobj.DistrictName
            </span>
        </td>
        <td align="left" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
            <span style="color:#9F000F">
                @Districtsobj.StateId
            </span>
        </td>

    </tr>
    @if (subDistrictsList != null)
            {
    @if (showDetailStatus == 1)
                {
    @if (@Districtsobj.DistrictId == districtsIDs)
                    {
    <tr style="background-color:#6D7B8D ; color:honeydew ;border-style:dashed;border-width:2px;border-color:#ECF3F4;">
        <td colspan="8" align="center">
            Sub District of  District - <strong> @Districtsobj.DistrictId </strong> ,Total @subDistrictsList.Length  details for this District
        </td>
    </tr>
    <tr>
        <td valign="top">
            <button class="btn btn-info" onclick="@(async () => await AddNewSubDistricts(@Districtsobj.DistrictId))">Add New Detail</button>
        </td>
        <td colspan="7">

            <table style="background-color:#ECF3F4; border: solid 2px #3273d5; padding: 5px;width: 99%;table-layout:fixed;">

                <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;">
                    <td width="40" align="center"><b>Edit</b></td>
                    <td width="40" align="center"><b>Delete</b></td>
                    <td width="240" align="center">
                        <b> Districts Number</b>
                    </td>
                    <td width="240" align="center">
                        <b>  SubDistricts Number</b>
                    </td>
                    <td width="120" align="center">
                        <b> SubDistricts Name</b>
                    </td>

                </tr>
                @foreach (var subDistrictsObj in subDistrictsList)
                                    {
                <tr>
                    <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                        <span style="color:#9F000F">
                            <img src="Images/edit.gif" alt="Edit" width="24px" height="24px" onclick="@(async () => await EditSubDistricts(@subDistrictsObj.SubDistrictsId))" />
                        </span>
                    </td>
                    <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                        <span style="color:#9F000F">
                            <img src="Images/delete.gif" alt="Delete" width="24px" height="24px" onclick="@(async () => await DeleteSubDistricts(@subDistrictsObj.SubDistrictsId))" />
                        </span>
                    </td>
                    <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                        @subDistrictsObj.DistrictId
                    </td>
                    <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">

                        <span style="color:#9F000F">
                            @subDistrictsObj.SubDistrictsId
                        </span>
                    </td>
                    <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                        <span style="color:#9F000F">
                            @subDistrictsObj.SubDistrictsName
                        </span>
                    </td>

                </tr>
                                    }

            </table>


        </td>
    </tr>
                    }
                }
            }
        }
</table>
}


